<div class="container-fluid">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://img.freepik.com/fotos-premium/verdadeira-beleza-feminina-mulher-jovem-e-atraente-com-uma-flor-no-cabelo-olhando-para-a-camera-e-sorrindo-em-pe-contra-um-fundo-cinza_425904-12505.jpg?semt=ais_hybrid&w=740" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://img.freepik.com/fotos-gratis/retrato-da-beleza-de-mulher-ruiva-sensual-com-cabelos-longos-posando-com-os-olhos-fechados_171337-916.jpg?semt=ais_hybrid&w=740" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://img.freepik.com/fotos-premium/flores-de-mulher-e-retrato-com-coroa-em-fundo-rosa-para-cuidados-com-a-pele-de-beleza-natural-e-espaco-de-maquete-em-estudio-modelo-de-rosto-e-faixa-de-cabelo-floral-para-sustentabilidade-eco-dermatologia-e-cosmeticos_590464-217776.jpg?semt=ais_hybrid&w=740" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>